:root {
  font-family:"Alice", serif;
  line-height: 150%;
  color: #573A37;
}

img {
  background-position: center;
  border-radius: 16px;
}

body{
  background-image:url(./assets/Página\ de\ receita.png);
  background-size: cover;
}

#page {
  width: 800px;
  background-color:  #F0E8C2;;
  padding: 24px;
  border-radius: 24px;
  box-sizing: border-box;
  margin: 48px auto; /*por último*/
}

h1 {
  line-height: 140%;
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h1, h2 {
  color: #291B1A;
}