img {
  background-position: center;
  border-radius: 16px;
}

body{
  background-image:url(./assets/Página\ de\ receita.png);
  background-size: cover;
}


#page {
  width: 800px;
  background-color:  #F0E8C2;;
  padding: 24px;
  border-radius: 24px;
  box-sizing: border-box;
  margin: 48px auto; /*por último*/
}
